@{
    ViewBag.Title = "Скидки";
}
@model Store.Model.ViewModels.MasterPageModel

<h2>Скидки</h2>

<table>
    @using (Html.BeginForm("DiscountDelete", "Admin", FormMethod.Post))
    {
        @Html.Hidden("IsCategoryDiscount", Model.IsCategoryDiscount)
        <tr>
            <td>Наименование</td>
            <td>Процент скидки</td>
            <td>Удаление</td>
        </tr>
        foreach (var discount in Model.Discounts)
         {
             <tr>
                 @if (!Model.IsCategoryDiscount)
                 {
                     <td>@Html.ActionLink(discount.ProductName, "Edit", new { discount.Id })</td>
                 }
                 else
                 {
                     <td>@Html.ActionLink(discount.CategoryName, "Edit", new { discount.Id })</td>
                 }
                 <td>@discount.Ammount %</td>
                 <td>
                     @Html.Hidden("discountId", discount.Id)
                     <input type="submit" class="button blue" value="Удалить"/>
                 </td>
             </tr>
         }
    }
</table>
@if (Model.IsCategoryDiscount)
{
    @Html.ActionLink("Добавить скидку на категорию", "DiscountAdd", "Admin")
}
<br/>
@Html.ActionLink("Назад", "Discounts", "Admin")