@model TAiMStore.Model.ViewModels.MasterPageModel

@{
    ViewBag.Title = "Товары";
}

<h1>Товары</h1>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Категория</th>
        <th class="NumericCol">Цена</th>
        <th>Действие</th>
    </tr>
    @foreach (var item in Model.ProductsViewModel.Products)
    { 
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.Id })</td>
            <td>@item.Category.ToLower()</td>
            <td class="NumericCol">@item.Price.ToString("c")</td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                { 
                    @Html.Hidden("ProductID", item.Id)
                    <input type="submit" value="Delete" onclick = "return confirm('Вы действительно хотите удалить товар?');" class="button blue" /> 
                }
            </td>
        </tr> 
    }
</table>
<p>@Html.ActionLink("Добавить новый товар", "Create")</p>
