@using TAiMStore.HtmlHelpers
@using TAiMStore.Model.ViewModels;
@model MasterPageModel

@{
    ViewBag.Title = "Заказы";
}

@{
    var users = new List<SelectListItem>();
    foreach (var item in Model.OrdersViewModel.Orders)
    {
        var tmp = new SelectListItem();
        tmp.Value = item.UserName.ToLower();
        tmp.Text = item.UserName.ToLower();
        if (!users.Exists(c => c.Value == tmp.Value)) { users.Add(tmp); }
    }
    <div class="panel panel-default">
    <div class="panel-heading">
    <h4>Выбрать заказы пользователя:</h4>
    @using (Html.BeginForm("SortedOrderList", "Admin"))
    {
        <div class="btn-group">
            @Html.DropDownList("userName", users)
        </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-chevron-right" />
        </button>
    </div>
    }
    </div>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Список заказов</h2>
            <div>
                <input value="Подробнее ...." class="btn btn-sm btn-success" />так отмечены обработанные заказы
            </div>
            <div>
                <input value="Подробнее ...." class="btn btn-sm btn-warning"/>так отмечены необработанные заказы
             </div>
            <div>
                <input value="Подробнее ...." class="btn btn-sm btn-danger"/>так отмечены непросмотренные заказы
            </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Status</th>
                <th>Имя пользователя</th>
                <th>Email</th>
                <th class="NumericCol">Общая Цена</th>
                <th>Дата заказа</th>
                <th>Тип оплаты</th>
                <th>Действие</th>
            </tr>
            @foreach (var item in Model.OrdersViewModel.Orders)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.eMail</td>
                    <td>@item.TotalCost.ToString("C")</td>
                    <td>@item.CreateDate</td>
                    <td>@item.PaymentType</td>
                    <td>
                        @using (Html.BeginForm("DeleteOrder", "Admin"))
                            {
                            @Html.Hidden("orderId", item.Id)
                            <input type="submit" value="Delete" onclick="return confirm('Вы действительно хотите удалить данный заказ?');" class="btn btn-danger" />
                            }
                    </td>
                </tr>
                <td colspan="7">
                @using (Html.BeginForm("OrderDetail", "Admin", new { orderId = item.Id }))
                {
                    @Html.Hidden("orderId", item.Id)
                    switch (@item.Status)
                    {
                        case true:
                            <input type="submit" value="Подробнее ...." class="btn btn-sm btn-success" />
                            break;
                        case false:
                            <input type="submit" value="Подробнее ...." class="btn btn-sm btn-warning" />
                            break;
                        default:
                            <input type="submit" value="Подробнее ...." class="btn btn-sm btn-danger" />
                            break;
                    }
                }
                </td>
            }
        </table>
    </div>
</div>
<center>
    <div>Cтраницы </div>
    <div class="btn-group text-center">
        @Html.PageLinks(Model.OrdersViewModel.PagingInfo, x => Url.Action("OrderList",
                             new { page = x }))
    </div>
</center>