@model TAiMStore.Model.ViewModels.MasterPageModel

@{
    ViewBag.Title = "Заказы";
}

<h1>Список заказов</h1>
@{
    var users = new List<SelectListItem>();
    foreach (var item in Model.OrdersViewModel.Orders)
    {
        var tmp = new SelectListItem();
        tmp.Value = item.UserName.ToLower();
        tmp.Text = item.UserName.ToLower();
        if (!users.Exists(c => c.Value == tmp.Value)) { users.Add(tmp); }
    }
    <b>Выбрать заказы пользователя:</b>
    using (Html.BeginForm("SortedOrderList", "Admin"))
    {
        <div class="four fifths padded">
            @Html.DropDownList("userName", users)
        </div>
        <div class="one fifths padded">
            <input type="submit" value=">" class="button blue" />
        </div>
    }
}

<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Email</th>
        <th class="NumericCol">Общая Цена</th>
        <th>Дата заказа</th>
        <th>Тип оплаты</th>
        <th>Действие</th>
    </tr>
    @foreach (var item in Model.OrdersViewModel.Orders)
    {
        <tr>
            <td>
                @using (Html.BeginForm("OrderDetail","Admin", new { orderId = item.Id }))
                {
                    @Html.Hidden("orderId", item.Id)
                    <input type="submit" value="Подробнее" class="button blue" />
                }
            </td>
            <td>@item.UserName</td>
            <td>@item.eMail</td>
            <td>@item.TotalCost.ToString("C")</td>
            <td>@item.CreateDate</td>
            <td>@item.PaymentType</td>
            <td>
                @using (Html.BeginForm("DeleteOrder", "Admin"))
                {
                    @Html.Hidden("orderId", item.Id)
                    <input type="submit" value="Delete" onclick="return confirm('Вы действительно хотите удалить данный заказ?');" class="button blue" />
                }
            </td>
        </tr>
    }
</table>
