@model IEnumerable<TAiMStore.Domain.Product>

@{
    Layout = "~/Views/Shared/_LayoutWithoutMasterModel.cshtml";
}

<h1>Товары</h1>
@{
    var categories = new List<SelectListItem>();
    foreach (var item in Model)
    {
        var tmp = new SelectListItem();
        tmp.Value = item.Category.Name.ToLower();
        tmp.Text = item.Category.Name.ToLower();
        if (!categories.Exists(c => c.Value == tmp.Value)) { categories.Add(tmp); }
     }
     using (Html.BeginForm("Index", "Admin"))
      {
          <input type="submit" value="<" class="button blue"/>
      }
}
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Категория</th>
        <th class="NumericCol">Цена</th>
        <th>Действие</th>
    </tr>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.Id })</td>
            <td>@item.Category.Name.ToLower()</td>
            <td class="NumericCol">@item.Price.ToString("c")</td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                { 
                    @Html.Hidden("ProductID", item.Id)
                    <input type="submit" value="Удалить" onclick = "return confirm('Вы действительно хотите удалить товар?');" class="button blue"/> 
                }
            </td>
        </tr> 
    }
</table>
<p>@Html.ActionLink("Добавить новый товар", "Create")</p>
