@model TAiMStore.Model.ViewModels.MasterPageModel

@{
    ViewBag.Title = "Форма заказа";
}

<div style="width:70%" class="panel panel-default">
    <div class="panel-heading">
        <h2>Оформление заказа</h2>
    </div>
    <div class="panel-body">
        @if (Model.ProfileView == null)
        {
            <div>
                Информация профиля отсутствует.
                <br />
                <p>Пожалуйста введи ваши контактные данные, и мы сразу отправим товар!</p>
                Перейдите по ссылки и заполните необходимые поля.
                <br />
                @Html.ActionLink("Добавление информации", "ProfileAdd", "Account")
            </div>
        }
        else
        {
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td style="width:30%">Ф.И.О.</td>
                        <td>@Html.Label(Model.ProfileView.PersonFullName)</td>
                    </tr>
                    <tr>
                        <td>Организация</td>
                        <td>@Html.Label(Model.ProfileView.Organization)</td>
                    </tr>
                    <tr>
                        <td>Почтовый индекс</td>
                        <td>@Html.Label(Model.ProfileView.PostZip)</td>
                    </tr>
                    <tr>
                        <td>Город</td>
                        <td>@Html.Label(Model.ProfileView.City)</td>
                    </tr>
                    <tr>
                        <td>Улица</td>
                        <td>@Html.Label(Model.ProfileView.Street)</td>
                    </tr>
                    <tr>
                        <td>Дом</td>
                        <td>@Html.Label(Model.ProfileView.House)</td>
                    </tr>
                    <tr>
                        <td>Квартира(оффис)</td>
                        <td>@Html.Label(Model.ProfileView.Room)</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>@Html.Label(Model.ProfileView.Telephone)</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>@Html.Raw(Model.ProfileView.Email)</td>
                    </tr>
                <tbody>
                    <tr>
                        <td>Выберите метод оплаты</td>
                        <td>
                            @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
                            {
                                @Html.DropDownList("paymentType", Model.PaymentsForDropDown);
                                @Html.Hidden("totalCost", @Model.CartView.Cart.ComputeTotalValue());
                                <input type="submit" value="Оформить" class="btn btn-primary" />
                            }
                        </td>
                    </tr>
            </table>
        }
        @Html.ActionLink("Отменить изменения и вернуться в корзину", "Index", null, new
                {
                    @class = "btn btn-warning"
                })
    </div>
</div>