@{
    ViewBag.Title = "Смена Пароля";
}

<div class="panel-heading">
    <h2>Изменение пароля</h2>
</div>

@model TAiMStore.Model.ViewModels.MasterPageModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="panel-body">
        <label>Старый Пароль</label>
        @Html.Password("Password", "", new { @class = "form-control" })
        
        <label>Новый Пароль</label>
        @Html.Password("NewPassword", "", new { @class = "form-control" })
    
        <label>Подтвердите пароль</label>
        @Html.Password("ConfirmPassword", "", new { @class = "form-control" })

    </div>
    <div>
        <input type="submit" value="Подтвердить" class="btn btn-success" />
        @Html.ActionLink("Несохранять", "Profile", null, new { @class = "btn btn-danger"})
    </div>
}